:root {
  --primary-color: #0080ff;
  --secondary-color: #ffaa00;
  --white: #fff;
  --black: #000;
  --background-color: #fcfcfc;
  --font-color: #333;
  --font-family: math;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--font-color);
  line-height: 1.6;
  display: flex;
  height: 100%;
  flex-direction: column;
}

header,
footer {
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  padding: 1rem;
  font-size: 11px;
  box-shadow: 1px 0px 10px #ddd;
}

main {
  padding: 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

button {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  margin: 0 10px;
}

#output {
  margin-top: 20px;
}
#actions {
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

input[type='checkbox'] {
  content: ' ';
  margin-right: 10px;
}
input[type='checkbox']::after {
  content: ' ';
  height: 14px;
  width: 13px;
  border: 1px solid #b6b3b3;
  display: block;
  position: relative;
  left: -2px;
  z-index: 1;
  top: 4px;
  background: #fff;
  border-radius: 3px;
  padding-left: 4px;
  padding-top: 4px;
}

input[type='checkbox']:checked::after {
  content: '✓';
  height: 14px;
  width: 13px;
  border: 1px solid #000;
  display: block;
  position: relative;
  left: -2px;
  z-index: 1;
  top: 4px;
  background: #000;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  padding-left: 4px;
  padding-top: 4px;
}
