:root {
  --red: red;
}
input {
  height: 30px;
  border-radius: 4px;
  padding: 0 5px;
}
.inputLabel {
  display: inline-block;
  width: 100px;
}
.inputRow {
  margin: 10px 0;
}
#gridSizeInputError {
  content: ' ';
  font-size: 10px;
  margin-top: 6px;
  color: var(--red);
}

#root {
  width: 100%;
}

.shake {
  transform: translate3d(0, 0, 0);
  animation: shake 0.8s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }

  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(8px);
  }
}
